  <%= form_with model: [@country,@plane], local: true do |f|%> 
     <%= @country.name %>行き 
    <p>どの飛行機で行きますか</p>
    <%= render 'shared/error_messages', model: f.object %>

      
      <% if @country.name == 'タイ'%>
      
        <table>
        <% @thai.each do |thai| %>
          
            <tr><td><%= thai.name %></td>
            <td><%= thai.price %>円</td></tr> 
          
        <% end %>
        </table>
     
        <%= f.collection_select(:name, ThaiPlane.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, ThaiPlane.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      <% elsif @country.name == 'カンボジア' %>
        <table>
        <% @cambo.each do |cambo| %>
          
            <tr><td><%= cambo.name %></td>
              <td><%= cambo.price %>円</td></tr> 
          
        <% end %>
        </table>
       
        <%= f.collection_select(:name, CamboPlane.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, CamboPlane.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      <% elsif @country.name =='ベトナム' %>
        <table>
        <% @vet.each do |vet| %>
          
             <tr><td><%= vet.name %></td>
            <td><%= vet.price %>円</td></tr> 
          
        <% end %>
        </table>
        
        <%= f.collection_select(:name, VetPlane.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, VetPlane.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>

         <% elsif @country.name == 'マレーシア' %>
         <table>
         <% @malaysia.each do |malaysia| %>
          
             <tr><td><%= malaysia.name %></td>
            <td><%= malaysia.price %>円</td></tr>
          
        <% end %>
        </table>
        
        <%= f.collection_select(:name, MalaysiaPlane.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, MalaysiaPlane.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>

        <% elsif @country.name == 'シンガポール' %>
        <table>
        <% @singapore.each do |singapore| %>
          
           <tr><td><%= singapore.name %></td>
            <td><%= singapore.price %>円</td></tr> 
          
        <% end %>
        </table>
        <%= f.collection_select(:name, SingaporePlane.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, SingaporePlane.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      <% end %>

      <div>人数を入力
       <%= f.text_field :howmany %>人
       </div>

  
    
    
          <div class='input-birth-wrap'>
          <p>行きの日程</p>
            <%= raw sprintf(
                        f.date_select(
                          :go_date,
                          class:'select-birth',
                          id:"go-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: (Time.now.year),
                          end_year: (Time.now.year + 1),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>

              <div class='input-birth-wrap'>
              <p>帰りの日程</p>
                <%= raw sprintf(
                            f.date_select(
                              :back_date,
                              class:'select-birth',
                              id:"back-date",
                              use_month_numbers: true,
                              prompt:'--',
                              start_year: (Time.now.year),
                              end_year: (Time.now.year + 1),
                              date_separator: '%s'),
                            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
              </div>
        <br>
        <div>行きの出発時間</div>
        <%= f.collection_select(:go_time, Timehour.all, :name, :name, {prompt:"行きの出発時刻を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <br>
        <div>帰りの出発時間</div>
        
        <%= f.collection_select(:back_time, Timehour.all, :name, :name, {prompt:"帰りの出発時刻を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <br>
        <div>
          <span>合計金額</span> 
          <span id="total_price">◯◯ </span> 円
          </div>
        <br>
        <%= f.submit "飛行機(往復)を変更する",class: 'chat-room-form__action-btn'%>
     
  <% end %>

