
<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    <%= link_to "戻る", country_path(@country.id) %>
    <%# 購入内容の表示 %>
    <% if @country.plane %>
    <div> 選択した飛行機情報 </div>
    <div>飛行機名<%=@plane.name%></div>
    <div>料金<%=@plane.price%>円</div>
    <div>人数<%=@plane.howmany%>人</div>
    <div>行きの日程<%=@plane.go_date%></div>
    <div>帰りの日程<%=@plane.back_date%></div>
    <div>行きの出発時間<%=@plane.go_time%></div>
    <div>帰りの出発時間<%=@plane.back_time%></div>
    <div>合計金額<%=@plane.price * @plane.howmany%>円</div>
    <div>
    <% end %>

    <% if @country.plane_go %>
    <div> 選択した飛行機情報 </div>
    <div>飛行機名<%=@plane_go.name%></div>
    <div>料金<%=@plane_go.price%>円</div>
    <div>人数<%=@plane_go.howmany%>人</div>
    <div>行きの日程<%=@plane_go.go_date%></div>
    <div>行きの出発時間<%=@plane_go.go_time%></div>
    <div>合計金額<%=@plane_go.price * @plane_go.howmany%>円</div>
    <div>
    <% end %>

    <% if @country.plane_back %>
    <div> 選択した飛行機情報 </div>
    <div>飛行機名<%=@plane_back.name%></div>
    <div>料金<%=@plane_back.price%>円</div>
    <div>人数<%=@plane_back.howmany%>人</div>
    <div>帰りの日程<%=@plane_back.back_date%></div>
    <div>帰りの出発時間<%=@plane_back.back_time%></div>
    <div>合計金額<%=@plane_back.price * @plane_back.howmany%>円</div>
    <div>
    <% end %>

    <% if @country.hotel %>
    <div> 選択したホテル情報 </div>
    <div>ホテル名<%=@hotel.name%></div>
    <div>料金<%=@hotel.price%>円</div>
    <div>人数<%=@hotel.howmany%>人</div>
    <div>宿泊日数<%=@hotel.day%>日</div>
    <div>チェックイン日<%=@hotel.go_date%></div>
    <div>チェックアウト日<%=@hotel.back_date%></div>
    <div>合計金額<%=@hotel.price * @hotel.day * @hotel.howmany %>円</div>
    <div>
    <% end %>

    <% if @country.tour %>
    <div> 選択したツアー情報 </div>
    <div>ツアー名<%=@tour.name%></div>
    <div>料金<%=@tour.price%>円</div>
    <div>期間<%=@tour.span%>日</div>
    <div>人数<%=@tour.howmany%>人</div>
    <div>出発日<%=@tour.go_date%></div>
    <div>合計金額<%=@tour.price * @tour.howmany %>円</div>
    <div>
    <% end %>

    <div>お支払い金額
    <%# 合計金額　単体の場合は書かなくても良いかも　かぶる %>
   <% if @country.tour%>
    <%= @tour.price * @tour.howmany%>
    <% elsif @country.plane && @country.hotel%>
    <%= @plane.price * @plane.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane%>
    <%= @plane.price * @plane.howmany%>
    <% elsif @country.plane_go && @country.plane_back && @country.hotel%>
    <%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go && @country.hotel%>
    <%= @plane_go.price * @plane_go.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_back && @country.hotel%>
    <%= @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go && @country.plane_back%>
    <%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany%>
    <% elsif @country.hotel%>
    <%= @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go%>
    <%= @plane_go.price * @plane_go.howmany%>
    <% elsif @country.plane_back%>
    <%= @plane_back.price * @plane_back.howmany%>
    <% else %>
    ◯◯
    <% end %>
    円</div>
    <%# /購入内容の表示 %>