  <%= form_with model: [@country,@tour], local: true do |f|%> 
     <%= @country.name %>行き 
    <p>どのツアーで行きますか</p>
    <%= render 'shared/error_messages', model: f.object %>

      
      <% if @country.name == 'タイ'%>
      
        <table>
        <% @thai.each do |thai| %>
          
            <tr><td><%= thai.name %></td>
            <td><%= thai.price %>円</td>
            <td><%= thai.span %>日</td></tr> 
        
        <% end %>
        </table>
       
     
        <%= f.collection_select(:name, ThaiTour.all, :name, :name, {prompt:"ツアーを選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, ThaiTour.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
        <%= f.collection_select(:span, ThaiTour.all, :span, :span, {prompt:"期間を選択してください"}, {class:"select-box", id:"item-category"}) %>
      <% elsif @country.name == 'カンボジア' %>
      
        <table>
        <% @cambo.each do |cambo| %>
          
              <tr><td><%= cambo.name %></td>
              <td><%= cambo.price %>円</td>
              <td><%= cambo.span %>日</td></tr> 
          
        <% end %>
        </table>
       
        <%= f.collection_select(:name, CamboTour.all, :name, :name, {prompt:"ツアーを選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, CamboTour.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
         <%= f.collection_select(:span, CamboTour.all, :span, :span, {prompt:"期間を選択してください"}, {class:"select-box", id:"item-category"}) %>
      <% elsif @country.name == 'ベトナム' %>
      
        <table>
        <% @vet.each do |vet| %>
          
             <tr><td><%= vet.name %></td>
            <td><%= vet.price %>円</td>
            <td><%= vet.span %>日</td></tr>
          
        <% end %>
        </table>
        
        <%= f.collection_select(:name, VetTour.all, :name, :name, {prompt:"ツアーを選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, VetTour.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
         <%= f.collection_select(:span, VetTour.all, :span, :span, {prompt:"期間を選択してください"}, {class:"select-box", id:"item-category"}) %>

      <% elsif @country.name == 'マレーシア' %>
      
        <table>
        <% @malaysia.each do |malaysia| %>
            
              <tr><td><%= malaysia.name %></td>
            <td><%= malaysia.price %>円</td>
            <td><%= malaysia.span %>日</td></tr>
            
        <% end %>
        </table>
        
        <%= f.collection_select(:name, MalaysiaTour.all, :name, :name, {prompt:"ツアーを選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, MalaysiaTour.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
         <%= f.collection_select(:span, MalaysiaTour.all, :span, :span, {prompt:"期間を選択してください"}, {class:"select-box", id:"item-category"}) %>

      <% elsif @country.name == 'シンガポール' %>
      
        <table>
        <% @singapore.each do |singapore| %>
          
             <tr><td><%= singapore.name %></td>
            <td><%= singapore.price %>円</td>
            <td><%= singapore.span %>日</td></tr>
          
        <% end %>
        </table>
        
        <%= f.collection_select(:name, SingaporeTour.all, :name, :name, {prompt:"ツアーを選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, SingaporeTour.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
         <%= f.collection_select(:span, SingaporeTour.all, :span, :span, {prompt:"期間を選択してください"}, {class:"select-box", id:"item-category"}) %>
      <% end %>

      <div>人数
       <%= f.text_field :howmany %>人
       </div>

         <%= f.collection_select(:go_date, TourSpan.all, :name, :name, {prompt:"出発日を選択してください"}, {class:"select-box", id:"item-category"}) %>
    
          <div>
          <span>合計金額</span> 
          <span id="total_price">◯◯ </span> 円
          </div>
    
         <br>
        <%= f.submit "ツアーを予約する",class: 'chat-room-form__action-btn'%>
     
  <% end %>

