<head>
<%# <link rel="stylesheet" type="text/css" href="mailer.css">  %>
</head>
<h2><%= @country.user.nickname %> 様</h2>
　<p>この度は、当サービスのご購入ありがとうございました。<br>
以下が購入されたサービスになります。</p>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
     <%# 購入内容の表示 %>
    <div class="hello"><%=@country.name%></div>
    <% unless @country.tour%>
    <% if @country.plane %>
<table>
<tr><th colspan="2", class="bold">選択した飛行機(往復) </th></tr>
<tr><th>飛行機名</th> <td><%=@plane.name%></td></tr>
<tr><th>料金</th><td><%=@plane.price%>円</td><tr>
<tr><th>人数</th><td><%=@plane.howmany%>人</td></tr>
<tr><th>行きの日程</th><td><%=@plane.go_date%></td></tr>
<tr><th>帰りの日程</th><td><%=@plane.back_date%></td></tr>
<tr><th>行きの出発時間</th><td><%=@plane.go_time%></td></tr>
<tr><th>帰りの出発時間</th><td><%=@plane.back_time%></td></tr>
<tr><th>合計金額</th><td><%=@plane.price * @plane.howmany%>円</td></tr>

</table>
<% end %>
<br>
  <% unless @country.plane %>
  <% if @country.plane_go %>
<table>
<tr> <th colspan="2", class="bold">選択した飛行機情報(行き) </th> </tr>
<tr> <th>飛行機名</th><td><%=@plane_go.name%></td> </tr>
<tr> <th>料金</th><td><%=@plane_go.price%>円</td> </tr>
<tr> <th>人数</th><td><%=@plane_go.howmany%>人</td></tr>
<tr> <th>行きの日程</th><td><%=@plane_go.go_date%></td> </tr>
<tr> <th>行きの出発時間</th><td><%=@plane_go.go_time%></td> </tr>
<tr> <th>合計金額</th><td><%=@plane_go.price * @plane_go.howmany%>円</td> <tr>
<tr>

</table>
<% end %>
<br>

    <% if @country.plane_back %>
<table>
<tr> <th colspan="2", class="bold"> 選択した飛行機情報(帰り) </th> </tr>
<tr> <th>飛行機名</th> <td><%=@plane_back.name%></td> </tr>
<tr> <th>料金</th><td><%=@plane_back.price%>円</td></tr>
<tr><th>人数</th><td><%=@plane_back.howmany%>人</td></tr>
<tr><th>帰りの日程</th><td><%=@plane_back.back_date%></td> </tr>
<tr><th>帰りの出発時間</th><td><%=@plane_back.back_time%></td> </tr>
<tr><th>合計金額</th><td><%=@plane_back.price * @plane_back.howmany%>円</td></tr>

</table>
<% end %>
<% end %>


<br>

    <% if @country.hotel %>
<table>
<tr><th colspan="2", class="bold"> 選択したホテル情報 </th> </tr>
<tr><th>ホテル名</th><td><%=@hotel.name%></td></tr>
<tr><th>料金</th><td><%=@hotel.price%>円</td></tr>
<tr><th>人数</th><td><%=@hotel.howmany%>人</td></tr>
<tr><th>宿泊日数</th><td><%=@hotel.day%>日</td> </tr>
<tr><th>チェックイン日</th><td><%=@hotel.go_date%></td> </tr>
<tr><th>チェックアウト日</th><td><%=@hotel.back_date%></td></tr>
<tr><th>合計金額</th><td><%=@hotel.price * @hotel.day * @hotel.howmany %>円</td></tr>

</table>
<% end %>
<% end %>
<br>

    <% if @country.tour %>
<table>
<tr><th colspan="2", class="bold"> 選択したツアー情報 </th> </tr>
<tr> <th>ツアー名</th><td><%=@tour.name%></td></tr>
<tr> <th>料金</th><td><%=@tour.price%>円</td></tr>
<tr> <th>期間</th><td><%=@tour.span%>日</td></tr>
<tr> <th>人数</th><td><%=@tour.howmany%>人</td></tr>
<tr> <th>出発日</th><td><%=@tour.go_date%></td></tr>
<tr><th>合計金額</th><td><%=@tour.price * @tour.howmany %>円</td></tr>

</table>
<% end %>
<br>
    <div class="total_price">お支払い金額
    <%# 合計金額　単体の場合は書かなくても良いかも　かぶる %>
   <% if @country.tour%>
    <%= @tour.price * @tour.howmany%>
    <% elsif @country.plane && @country.hotel%>
    <%= @plane.price * @plane.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane%>
    <%= @plane.price * @plane.howmany%>
    <% elsif @country.plane_go && @country.plane_back && @country.hotel%>
    <%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go && @country.hotel%>
    <%= @plane_go.price * @plane_go.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_back && @country.hotel%>
    <%= @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go && @country.plane_back%>
    <%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany%>
    <% elsif @country.hotel%>
    <%= @hotel.price * @hotel.day * @hotel.howmany%>
    <% elsif @country.plane_go%>
    <%= @plane_go.price * @plane_go.howmany%>
    <% elsif @country.plane_back%>
    <%= @plane_back.price * @plane_back.howmany%>
    <% else %>
    ◯◯
    <% end %>
    円</div>
    <%# /購入内容の表示 %>
  

  <p>今後とも TravelApp をよろしくお願いいたします。</p>