  <%= form_with model: [@country,@plane], local: true do |f|%> 
     <%= @country.name %>行き 
    <p>どの飛行機で行きますか</p>
    <%= render 'shared/error_messages', model: f.object %>

      
      <% if @country.name == 'タイ'%>
      
     
        <% @thai.each do |thai| %>
          
            <p class="price"><%= thai.name %></p>
            <p class="price"><%= thai.price %>円</p> 
          
        <% end %>
     
        <%= f.collection_select(:name, ThaiPlaneGo.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, ThaiPlaneGo.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      <% elsif @country.name == 'カンボジア' %>
      
        <% @cambo.each do |cambo| %>
          
            <p class="price"><%= cambo.name %></p>
            <p class="price"><%= cambo.price %>円</p> 
          
        <% end %>
       
        <%= f.collection_select(:name, CamboPlaneGo.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, CamboPlaneGo.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      <% elsif @country.name == 'ベトナム' %>
      
        <% @vet.each do |vet| %>
          
            <p class="price"><%= vet.name %></p>
            <p class="price"><%= vet.price %>円</p> 
          
        <% end %>
        
        <%= f.collection_select(:name, VetPlaneGo.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, VetPlaneGo.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      
      <% elsif @country.name == 'マレーシア' %>
      
        <% @malaysia.each do |malaysia| %>
          
            <p class="price"><%= malaysia.name %></p>
            <p class="price"><%= malaysia.price %>円</p> 
          
        <% end %>
        
        <%= f.collection_select(:name, MalaysiaPlaneGo.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, MalaysiaPlaneGo.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>

        <% elsif @country.name == 'シンガポール' %>
      
        <% @singapore.each do |singapore| %>
          
            <p class="price"><%= singapore.name %></p>
            <p class="price"><%= singapore.price %>円</p> 
          
        <% end %>
        
        <%= f.collection_select(:name, SingaporePlaneGo.all, :name, :name, {prompt:"飛行機を選択してください"}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:price, SingaporePlaneGo.all, :price, :price, {prompt:"料金を選択してください"}, {class:"select-box", id:"plane-price"}) %>
      
      <% end %>
      <div>人数
       <%= f.text_field :howmany %>人
       </div>
  
    
    
          <div class='input-birth-wrap'>
          <p>行きの日程</p>
            <%= raw sprintf(
                        f.date_select(
                          :go_date,
                          class:'select-birth',
                          id:"go-date",
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: (Time.now.year),
                          end_year: (Time.now.year + 1),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>

              


        <%= f.collection_select(:go_time, Timehour.all, :name, :name, {prompt:"行きの出発時刻を選択してください"}, {class:"select-box", id:"item-category"}) %>
       
        <div>
          <span>合計金額</span> 
          <span id="total_price">◯◯ </span> 円
          </div>

        <%= f.submit class: 'chat-room-form__action-btn'%>
     
  <% end %>

