<%= @country.name %>へようこそ！
<% unless @country.plane %>
<div>
<%= link_to "飛行機(往復)を選ぶ", country_planes_path(@country.id) %> 
</div>
<% end %>

<% if @country.plane %>
<div> 選択した飛行機情報 </div>
<div>飛行機名<%=@plane.name%></div>
<div>料金<%=@plane.price%>円</div>
<div>人数<%=@plane.howmany%>人</div>
<div>行きの日程<%=@plane.go_date%></div>
<div>帰りの日程<%=@plane.back_date%></div>
<div>行きの出発時間<%=@plane.go_time%></div>
<div>帰りの出発時間<%=@plane.back_time%></div>
<div>合計金額<%=@plane.price * @plane.howmany%>円</div>
<div>
<%= link_to "飛行機を変更する", edit_country_plane_path(@country.id,@plane.id) %> 
</div>
<div>
<%= link_to "飛行機を取り消す", country_plane_path(@country.id,@plane.id), method: :delete %> 
</div>
<% end %>

<% unless @country.plane_go %>
<div>
<%= link_to "飛行機(行き)を選ぶ", country_plane_gos_path(@country.id) %> 
</div>
<% end %>

<% if @country.plane_go %>
<div> 選択した飛行機情報 </div>
<div>飛行機名<%=@plane_go.name%></div>
<div>料金<%=@plane_go.price%>円</div>
<div>人数<%=@plane_go.howmany%>人</div>
<div>行きの日程<%=@plane_go.go_date%></div>
<div>行きの出発時間<%=@plane_go.go_time%></div>
<div>合計金額<%=@plane_go.price * @plane_go.howmany%>円</div>
<div>
<%= link_to "飛行機(行き)を変更する", edit_country_plane_go_path(@country.id,@plane_go.id) %> 
</div>
<div>
<%= link_to "飛行機(行き)を取り消す", country_plane_go_path(@country.id,@plane_go.id), method: :delete %> 
</div>
<% end %>

<% unless @country.plane_back %>
<div>
<%= link_to "飛行機(帰り)を選ぶ", country_plane_backs_path(@country.id) %> 
</div>
<% end %>

<% if @country.plane_back %>
<div> 選択した飛行機情報 </div>
<div>飛行機名<%=@plane_back.name%></div>
<div>料金<%=@plane_back.price%>円</div>
<div>人数<%=@plane_back.howmany%>人</div>
<div>行きの日程<%=@plane_back.back_date%></div>
<div>行きの出発時間<%=@plane_back.back_time%></div>
<div>合計金額<%=@plane_back.price * @plane_back.howmany%>円</div>
<div>
<%= link_to "飛行機(帰り)を変更する", edit_country_plane_back_path(@country.id,@plane_back.id) %> 
</div>
<div>
<%= link_to "飛行機(帰り)を取り消す", country_plane_back_path(@country.id,@plane_back.id), method: :delete %> 
</div>
<% end %>



<% unless @country.hotel %>
<div>
<%= link_to "ホテルを選ぶ",  country_hotels_path(@country.id) %> 
</div>

<% end %>

<% if @country.hotel %>
<div> 選択したホテル情報 </div>
<div>ホテル名<%=@hotel.name%></div>
<div>料金<%=@hotel.price%>円</div>
<div>人数<%=@hotel.howmany%>人</div>
<div>宿泊日数<%=@hotel.day%>日</div>
<div>チェックイン日<%=@hotel.go_date%></div>
<div>チェックアウト日<%=@hotel.back_date%></div>
<div>合計金額<%=@hotel.price * @hotel.day * @hotel.howmany %>円</div>
<div>
<%= link_to "ホテルを変更する",  edit_country_hotel_path(@country.id,@hotel.id) %> 
</div>
<div>
<%= link_to "ホテルを取り消す", country_hotel_path(@country.id,@hotel.id), method: :delete %> 
</div>
<% end %>
<%# <% if @country.hotel%>
<%# <div>あなたのホテル情報</div> %> 

   <%# <%= @hotel.country_hotel.name %>  
<%# <%= @hotel.country_hotel_id.price%> 
<%# <div><%= @hotel.day%></div> 
<%# <div><%= @hotel.go_date%></div> 
<%# <div><%= @hotel.back_date%></div> 
<%# <% end %> 
<div>合計金額
<% if @country.plane && @country.hotel%>
<%= @plane.price * @plane.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane%>
<%= @plane.price * @plane.howmany%>
<% elsif @country.hotel%>
<%= @hotel.price * @hotel.day * @hotel.howmany%>
<% else %>
◯◯
<% end %>
円</div>

<div>購入！
<%= link_to "購入ページにいく", country_orders_path(@country.id)%>
</div>

<div>
<%= link_to "トップページに戻る", country_path(@country.id), method: :delete %> ＊注意！これまでの情報は破棄されます。
</div>