<h1 class="hello"><%= @country.name %>へようこそ！</h1>
<br>


<% if @country.tour %>
<table>
<tr><th colspan="2", class="bold"> 選択したツアー情報 </th> </tr>
<tr> <th>ツアー名</th><td><%=@tour.name%></td></tr>
<tr> <th>料金</th><td><%=@tour.price%>円</td></tr>
<tr> <th>期間</th><td><%=@tour.span%>日</td></tr>
<tr> <th>人数</th><td><%=@tour.howmany%>人</td></tr>
<tr> <th>出発日</th><td><%=@tour.go_date%></td></tr>
<tr><th>合計金額</th><td><%=@tour.price * @tour.howmany %>円</td></tr>
<tr>
<th colspan="2"><%= link_to "ツアーを変更する",  edit_country_tour_path(@country.id,@tour.id) %> </th>
</tr>
<tr>
<th colspan="2"><%= link_to "ツアーを取り消す", country_tour_path(@country.id,@tour.id), method: :delete %> </th>
</tr>
</table>
<% end %>

<% unless @country.tour%>

<% if @country.plane %>
<table>
<tr><th colspan="2", class="bold">選択した飛行機(往復) </th></tr>
<tr><th>飛行機名</th> <td><%=@plane.name%></td></tr>
<tr><th>料金</th><td><%=@plane.price%>円</td><tr>
<tr><th>人数</th><td><%=@plane.howmany%>人</td></tr>
<tr><th>行きの日程</th><td><%=@plane.go_date%></td></tr>
<tr><th>帰りの日程</th><td><%=@plane.back_date%></td></tr>
<tr><th>行きの出発時間</th><td><%=@plane.go_time%></td></tr>
<tr><th>帰りの出発時間</th><td><%=@plane.back_time%></td></tr>
<tr><th>合計金額</th><td><%=@plane.price * @plane.howmany%>円</td></tr>
<tr>
<th colspan="2">
 <%= link_to "飛行機(往復)を変更する", edit_country_plane_path(@country.id,@plane.id) %> </th> 
</tr>
<tr> 
<th colspan="2"><%= link_to "飛行機(往復)を取り消す", country_plane_path(@country.id,@plane.id), method: :delete %> </th>    
</tr>
</table>
<% end %>






<% unless @country.plane%>


<% if @country.plane_go %>
<table>
<tr> <th colspan="2", class="bold">選択した飛行機情報(行き) </th> </tr>
<tr> <th>飛行機名</th><td><%=@plane_go.name%></td> </tr>
<tr> <th>料金</th><td><%=@plane_go.price%>円</td> </tr>
<tr> <th>人数</th><td><%=@plane_go.howmany%>人</td></tr>
<tr> <th>行きの日程</th><td><%=@plane_go.go_date%></td> </tr>
<tr> <th>行きの出発時間</th><td><%=@plane_go.go_time%></td> </tr>
<tr> <th>合計金額</th><td><%=@plane_go.price * @plane_go.howmany%>円</td> <tr>
<tr>
<th colspan="2"><%= link_to "飛行機(行き)を変更する", edit_country_plane_go_path(@country.id,@plane_go.id) %> </th>
</tr>
<tr>
<th colspan="2"><%= link_to "飛行機(行き)を取り消す", country_plane_go_path(@country.id,@plane_go.id), method: :delete %> </th>
</tr>
</table>
<% end %>

<br>
<% if @country.plane_back %>
<table>
<tr> <th colspan="2", class="bold"> 選択した飛行機情報(帰り) </th> </tr>
<tr> <th>飛行機名</th> <td><%=@plane_back.name%></td> </tr>
<tr> <th>料金</th><td><%=@plane_back.price%>円</td></tr>
<tr><th>人数</th><td><%=@plane_back.howmany%>人</td></tr>
<tr><th>帰りの日程</th><td><%=@plane_back.back_date%></td> </tr>
<tr><th>帰りの出発時間</th><td><%=@plane_back.back_time%></td> </tr>
<tr><th>合計金額</th><td><%=@plane_back.price * @plane_back.howmany%>円</td></tr>
<tr>
<th colspan="2"><%= link_to "飛行機(帰り)を変更する", edit_country_plane_back_path(@country.id,@plane_back.id) %> </th>
</tr>
<tr>
<th colspan="2"><%= link_to "飛行機(帰り)を取り消す", country_plane_back_path(@country.id,@plane_back.id), method: :delete %> </th>
</tr>
</table>
<% end %>

<% end %>
<br>

<% if @country.hotel %>
<table>
<tr><th colspan="2", class="bold"> 選択したホテル情報 </th> </tr>
<tr><th>ホテル名</th><td><%=@hotel.name%></td></tr>
<tr><th>料金</th><td><%=@hotel.price%>円</td></tr>
<tr><th>人数</th><td><%=@hotel.howmany%>人</td></tr>
<tr><th>宿泊日数</th><td><%=@hotel.day%>日</td> </tr>
<tr><th>チェックイン日</th><td><%=@hotel.go_date%></td> </tr>
<tr><th>チェックアウト日</th><td><%=@hotel.back_date%></td></tr>
<tr><th>合計金額</th><td><%=@hotel.price * @hotel.day * @hotel.howmany %>円</td></tr>
<tr>
<th colspan="2"><%= link_to "ホテルを変更する",  edit_country_hotel_path(@country.id,@hotel.id) %> </th>
</tr>
<tr>
<th colspan="2"><%= link_to "ホテルを取り消す", country_hotel_path(@country.id,@hotel.id), method: :delete %> </th>
</tr>
</table>
<% end %>

<% end %>

<br>
<% unless @country.tour%>
<% unless @country.plane %>
<div>
<%= link_to "飛行機(往復)を予約する", new_country_plane_path(@country.id) %> 
</div>
<% end %>
<br>
<% unless @country.plane%>
<% unless @country.plane_go%>
<div>
<%= link_to "飛行機(行き)を予約する", new_country_plane_go_path(@country.id) %> 
</div>
<% end %>

<br>
<% unless @country.plane_back  %>
<div>
<%= link_to "飛行機(帰り)を予約する", new_country_plane_back_path(@country.id) %> 
</div>
<% end %>
<% end %>
<br>

<% unless @country.hotel %>
<div>
<%= link_to "ホテルを予約する",  new_country_hotel_path(@country.id) %> 
</div>
<% end %>
<%end%>
<br>

<% unless @country.tour %>
<div>
<%= link_to "ツアーを予約する", new_country_tour_path(@country.id) %> 
</div>
<% end %>



<br>
<div class="total_price">お支払い金額
<% if @country.tour%>
<%= @tour.price * @tour.howmany%>
<% elsif @country.plane && @country.hotel%>
<%= @plane.price * @plane.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane%>
<%= @plane.price * @plane.howmany%>
<% elsif @country.plane_go && @country.plane_back && @country.hotel%>
<%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane_go && @country.hotel%>
<%= @plane_go.price * @plane_go.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane_back && @country.hotel%>
<%= @plane_back.price * @plane_back.howmany + @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane_go && @country.plane_back%>
<%= @plane_go.price * @plane_go.howmany + @plane_back.price * @plane_back.howmany%>
<% elsif @country.hotel%>
<%= @hotel.price * @hotel.day * @hotel.howmany%>
<% elsif @country.plane_go%>
<%= @plane_go.price * @plane_go.howmany%>
<% elsif @country.plane_back%>
<%= @plane_back.price * @plane_back.howmany%>


<% else %>
◯◯
<% end %>
円</div>
<br>

<p>*注意事項</p>
<p>・ツアーを購入する際は他のサービスを共に購入することはできません。</p>
<P>　他のサービスを購入したくなった方はツアーをお取り消しください。</p>
<p>・飛行機(往復)を購入する際は、飛行機(行き)または飛行機(帰り)を共に購入することはできません。</p>
<p>　飛行機(行き)または飛行機(帰り)を購入したくなった方は、飛行機(往復)をお取り消しください。</p>
<br>
<div class="purchase">
<%= link_to "購入ページにいく", country_orders_path(@country.id)%>
</div>
<br>
<div class ="top">
<%= link_to "トップページに戻る", country_path(@country.id), method: :delete %> ＊注意！これまでの情報は破棄されます。
</div>